<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit">
  <title></title>
  <link rel="stylesheet" th:href="@{/css/pintuer.css}">
  <link rel="stylesheet" th:href="@{/css/admin.css}">
  <script th:src="@{/js/jquery/jquery.js}"></script>
  <script th:src="@{/js/pintuer.js}"></script>
  <script th:src="@{/js/admin/addArticle.js}"></script>
  <!--  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor/dist/index.css" />
  <script src="https://cdn.jsdelivr.net/npm/vditor/dist/index.min.js"></script>
  <style>
    .category span{
      margin: 8px 10px 5px 0;
      display: inline-block;
      background-color: #c7cbd6;
      border-color: #c7cbd6;
      padding: 6px 12px;
      color: white;
      font-size: 14px;
      border-radius: 2px;
    }
    .category span:hover{/*鼠标移动时的颜色变化*/
      background-color: #ababab;
    }
    .category span.selectd {
      background-color: #1ca59e;
      border-color: #1ca59e;
      color: #fff;
    }
    .category span{
      margin: 8px 10px 5px 0;
      display: inline-block;
      background-color: #c7cbd6;
      border-color: #c7cbd6;
      padding: 6px 12px;
      color: white;
      font-size: 14px;
      border-radius: 2px;
    }
    .category span:hover{/*鼠标移动时的颜色变化*/
      background-color: #ababab;
    }
    .category span.selectd {
      background-color: #1ca59e;
      border-color: #1ca59e;
      color: #fff;
    }
    ul{
      height: 47px;
      border: solid 1px #dddddd;
      width: 95%
    }
    ul span{
      display: inline-block;
      background-color: #c7cbd6;
      border-color: #c7cbd6;
      margin-top: 7px;
      margin-bottom: 14px;
      padding: 6px 12px;
      color: white;
      font-size: 14px;
      border-radius: 2px;
    }
    ul span:nth-child(1){
      margin-left: 5px
    }
    span a{
      cursor: pointer;
      margin-top: -1px;
      /* height: 24px; */
      position: relative;
      left: 7px;
      float: right;
      margin-top: -5px;
    }
    .select{
      margin-bottom: 15px;
      right: 0;
      top: 1px;
      margin-left: -2px;
      border-radius: 0 4px 4px 0;
      background-color: #5cb0ac;
      color: aliceblue;
      font-size: 15px;
      float: right;
      padding: 12px 20px;
      margin-top: -47px;
    }
  </style>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>修改文章</strong></div>
  <div class="body-content">
    <form class="form-x" action="javascript:saveArticle()">
      <div class="form-group">
        <div class="label">
          <label>标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="t_title" th:value="${article!=null}?${article.title}" name="t_title" data-validate="required:请输入文章标题" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>简介：</label>
        </div>
        <div class="field">
          <textarea type="text" class="input w50" th:text="${article!=null}?${article.summary}" id="t_summary" name="t_summary"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>配图：</label>
        </div>
        <div class="field">
          <input type="text" id="t_pictureUrl" name="t_pictureUrl" class="input tips" style="width:25%; float:left;"  value=""  data-toggle="hover" data-place="right" th:value="${article!=null}?${article.pictureUrl}" th:data-image="${article!=null}?${article.pictureUrl}" />
          <input type="button" class="button bg-blue margin-left" id="image1" value="+ 浏览上传"  style="float:left;">
          <div class="tipss">图片尺寸：500*500</div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>是否置顶：</label>
        </div>
        <div class="field" style="padding-top:8px;">
          <input type="checkbox" name="articleTop" id="articleTop" th:if="${article==null}" checked="0"/>
          <input type="checkbox" name="articleTop" id="articleTop" th:if="${article!=null}" th:checked="${article.top}?1"/>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>正文：</label>
        </div>
        <div class="field">
          <a href="javascript:void(0)" onclick="return empty(0)" style="position: absolute;/* float: right; */font-size: 14px;margin-left: 95%;margin-top: 8px;">清空内容</a>
          <div th:if="${article == null}" id="article" ></div>
          <div th:if="${article != null}" th:id="'article'+${article.id}">
            [[${article!=null}?${article.content}]]
          </div>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>标签：</br><a style="font-size: 10px;font-color: #8c8c8c"></a></label>
        </div>
        <div class="field">
          <ul contenteditable="true" id="biaoqian">
            <span contenteditable='false' th:if="${article!=null}" th:each="category,userStat : ${article!=null}?${article.categoryInfo}" th:id="'c_'+${category.id}">
              <a th:data-id="${category.id}" th:data-name="${category.name}" th:onclick="javascript:remove([[${category.name}]])" data-type="raw">×</a>[[${category.name}]]
            </span>
          </ul>
          <input type="hidden" class="input w50" placeholder="已存在的分类" th:value="${article!=null}?${article.categoryNames}" id="t_categoryNames" />
          <input type="hidden" class="input w50" placeholder="新增分类" name="t_categoryName" id="t_categoryName" />
          <button type="button" onclick="hiddenCategory();" class="select">选择</button>
          <div class="category" id="category" style="display:none">
            <span th:each="category,userStat : ${categorys}" th:data-id="${category.id}" th:id="'span_'+${category.name}"  th:text="${category.name}"></span>
          </div>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>摘要：</label>
        </div>
        <div class="field">
          <a href="javascript:void(0)" onclick="return empty(3)" style="position: absolute;/* float: right; */font-size: 14px;margin-left: 95%;margin-top: 8px;">清空内容</a>
          <div th:if="${article == null}" th:id="'abstract'">
            <div th:if="${article != null}" th:id="'abstract'+${article.id}">
            </div>
            <div class="tips"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="label">
            <label></label>
          </div>
          <div class="field">
            <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
            <button class="button icon-check-square-o" style="background-color: red;color: #FFFF;" type="button">清除本地改动</button>
          </div>
        </div>
        <input type="hidden" id="articleId" name="articleId" th:value="${article != null}?${article.id}">
    </form>
  </div>
</div>
<script>
  const article = new Vditor('article[[${article != null}?${article.id}]]', {
    debugger: true,
    typewriterMode: true,
    placeholder: 'placeholder',
    counter: 10000,
    height: 500,
    preview: {
      markdown: {
        toc: true,
      },
    },
    tab: '\t',
    upload: {
      accept: 'image/*,.mp3, .wav, .rar',
      token: 'test',
      url: '/api/upload/editor',
      linkToImgUrl: '/api/upload/fetch',
      filename (name) {
        return name.replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, '').
        replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, '').
        replace('/\\s/g', '')
      },
    },
  });
  const abstract = new Vditor('abstract[[${article != null} ? ${article.id}]]', {
    debugger: true,
    typewriterMode: true,
    placeholder: 'placeholder',
    counter: 10000,
    height: 300,
    preview: {
      markdown: {
        toc: true,
      },
    },
    tab: '\t',
    upload: {
      accept: 'image/*,.mp3, .wav, .rar',
      token: 'test',
      url: '/api/upload/editor',
      linkToImgUrl: '/api/upload/fetch',
      filename (name) {
        return name.replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, '').
        replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, '').
        replace('/\\s/g', '')
      },
    },
  })
</script>
<script>
  function empty(id) {
    if(confirm("此操作不可逆,您确定要清空吗?")){
      var Element = document.getElementsByClassName("vditor-reset")[id].innerHTML="";
    }
  }
</script>
<script>
  function hiddenCategory(){
    if($('.category').css('display') === 'none') {
      var t_categoryName = $("#t_categoryNames").val();
      var categoryNames = t_categoryName.split(",");
      for(var i = 0;i < categoryNames.length;i++){
        $("#span_"+categoryNames[i]).addClass("selectd");
        $("#span_"+categoryNames[i]).attr("data-type","raw");
      }
      $('.category').css({'display': 'block'});
    } else {
      $('.category').hide();
    }
  };
  var type = false;
  $("#category span").each(function(index, item) {
    $(this).click(function(){
      var category = $(this).html();
      if(!$(this).hasClass("selectd")&&!type){
        $(this).addClass("selectd");
        $("#biaoqian").append("<span contenteditable='false' id='c_"+$(this).data("id")+"'><a href='javascript:void(0)' onclick='return remove(\""+$(this).html()+"\")'>×</a>"+$(this).html()+"</span>");
        $("#t_categoryName").val($("#t_categoryName").val() == "" ? $(this).html() :$("#t_categoryName").val()+","+$(this).html())
      } else {
        // 删除隐藏input内容
        $(this).removeClass("selectd");
        var category = $(this).html();
        if($("#t_categoryName").val() == $(this).html()){
          $("#t_categoryName").val("");
        }else if($(this).html() == $("#t_categoryName").val().substring(0,$(this).html().toString().length)){
          var reg = new RegExp($(this).html()+",","g");
          $("#t_categoryName").val($("#t_categoryName").val().replace(reg,""));
        }else if($(this).html() == $("#t_categoryName").val().substring($("#t_categoryName").val().toString().length-$(this).html().toString().length,$("#t_categoryName").val().toString().length)){
          var reg = new RegExp(","+$(this).html(),"g");
          $("#t_categoryName").val($("#t_categoryName").val().replace(reg,""));
        }else {
          var reg = new RegExp(","+$(this).html()+",","g");
          $("#t_categoryName").val($("#t_categoryName").val().replace(reg,","));
        }
        if(!type) {
          var a = $("#t_categoryName").val().substring($("#t_categoryName").val().toString().length - $(this).html().toString().length, $("#t_categoryName").val().toString().length)
        }
        type = false;
        $("#c_"+$(this).data("id")).remove();
        // 删除标签
        if($(this).data("type")=="raw"){
          del($(this).data("id"));
        }
      }
    });
  });
  function remove(cname) {
    type = true;
    // 删除隐藏input内容
    $("#span_"+cname).trigger('click');
  }
  function del(cid) {
    var articleId = $("#articleId").val();
    var comment = {
      id: articleId != "" ? articleId :"",
      categoryId: cid,
    }
    // 提交AJAX请求
    $.ajax({
      url: "delArticleCategory",
      type: "DELETE",
      dataType: "text",
      contentType: "application/json;charset=utf-8",
      data: JSON.stringify(comment),
      success: function (data) {
        $("#c_"+cid).remove();
      },
      error: function (data) {
        console.log("报错了，未知原因");
      }
    })
  };
  $("#biaoqian").bind("keydown",function(e){
    // 兼容FF和IE和Opera
    var theEvent = e || window.event;
    var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
    if (code == 13) {
      //回车执行查询
      alert("触发了回车")
    }
  });
</script>
</body>
</html>
