<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" th:href="@{/css/pintuer.css}">
<link rel="stylesheet" th:href="@{/css/admin.css}">
<script th:src="@{/js/jquery/jquery.js}"></script>
<script th:src="@{/js/pintuer.js}"></script>
</head>
<body style="zoom: 0.88;">
<form method="post" action="" id="listform">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder">文章管理</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> <a class="button border-main icon-plus-square-o" th:lay-href="@{/admin/addArticle}">添加文章</a> </li>
<!--        <li>搜索：</li>-->
<!--        <li>首页-->
<!--          <select name="s_ishome" class="input" onchange="changesearch()" style="width:60px; line-height:17px; display:inline-block">-->
<!--            <option value="">选择</option>-->
<!--            <option value="1">是</option>-->
<!--            <option value="0">否</option>-->
<!--          </select>-->
<!--          &nbsp;&nbsp;-->
<!--          推荐-->
<!--          <select name="s_isvouch" class="input" onchange="changesearch()"  style="width:60px; line-height:17px;display:inline-block">-->
<!--            <option value="">选择</option>-->
<!--            <option value="1">是</option>-->
<!--            <option value="0">否</option>-->
<!--          </select>-->
<!--          &nbsp;&nbsp;-->
<!--          置顶-->
<!--          <select name="s_istop" class="input" onchange="changesearch()"  style="width:60px; line-height:17px;display:inline-block">-->
<!--            <option value="">选择</option>-->
<!--            <option value="1">是</option>-->
<!--            <option value="0">否</option>-->
<!--          </select>-->
<!--        </li>-->
<!--        <if condition="$iscid eq 1">-->
<!--          <li>-->
<!--            <select name="cid" class="input" style="width:200px; line-height:17px;" onchange="changesearch()">-->
<!--              <option value="">请选择分类</option>-->
<!--              <option value="">产品分类</option>-->
<!--              <option value="">产品分类</option>-->
<!--              <option value="">产品分类</option>-->
<!--              <option value="">产品分类</option>-->
<!--            </select>-->
<!--          </li>-->
<!--        </if>-->
<!--        <li>-->
<!--          <input type="text" placeholder="请输入搜索关键字" name="keywords" class="input" style="width:250px; line-height:17px;display:inline-block" />-->
<!--          <a href="javascript:void(0)" class="button border-main icon-search" onclick="changesearch()" > 搜索</a>-->
<!--        </li>-->
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="5%" style="text-align:left; padding-left:20px;">ID</th>
        <th width="10%">标题</th>
        <th width="10%">配图</th>
        <th width="35%">描述</th>
        <th width="8%">分类名称</th>
        <th width="7%">更新时间</th>
        <th width="15%">操作</th>
      </tr>
      <volist name="list" id="vo">
        <tr th:each="article,userStat : ${listArticle}" th:id="'article'+${article.id}">
          <td style="text-align:left; padding-left:20px;"><input type="checkbox" name="id[]" value="" /><a th:text="${userStat.index+1}"></a></td>
          <td th:text="${article.title}"></td>
          <td width="10%"><img th:src="${article.pictureUrl}" alt="" width="70" height="50" /></td>
          <td th:text="${article.summary}"></td>
          <td>产品分类</td>
          <td th:text="${#dates.format(article.create_by,'yyyy-MM-dd HH:mm')}"></td>
          <td>
            <div class="button-group">
              <a class="button border-main" th:lay-href="'editArticle?id='+${article.id}" th:lay-text="${article.title}"><span class="icon-edit"></span> 修改</a>
              <a class="button border-yellow" href="javascript:void(0)" th:if="${article.isUsed == 1}" th:id="'revoke_'+${article.id}" th:onclick="return revokeArticle([[${article.id}]])" th:lay-text="${article.title}"><span class="icon-question-circle"></span> 撤销</a>
              <a class="button border-green" href="javascript:void(0)" th:if="${article.isUsed == 0}" th:id="'release_'+${article.id}" th:onclick="return releaseArticle([[${article.id}]])" th:lay-text="${article.title}"><span class="icon-check-square-o"></span> 发布</a>
              <a class="button border-red" href="javascript:void(0)" th:onclick="return del([[${article.id}]])"><span class="icon-trash-o"></span> 删除</a>
            </div>
          </td>
        </tr>
      <tr>
        <td style="text-align:left; padding:19px 0;padding-left:20px;"><input type="checkbox" id="checkall"/>
          全选 </td>
        <td colspan="7" style="text-align:left;padding-left:20px;"><a href="javascript:void(0)" class="button border-red icon-trash-o" style="padding:5px 15px;" onclick="DelSelect()"> 删除</a>
            <a href="javascript:void(0)" style="padding:5px 15px; margin:0 10px;" class="button border-blue icon-edit" onclick="sorts()"> 排序</a>
<!--          操作：-->
<!--          <select name="ishome" style="padding:5px 15px; border:1px solid #ddd;" onchange="changeishome(this)">-->
<!--            <option value="">首页</option>-->
<!--            <option value="1">是</option>-->
<!--            <option value="0">否</option>-->
<!--          </select>-->
<!--          <select name="isvouch" style="padding:5px 15px; border:1px solid #ddd;" onchange="changeisvouch(this)">-->
<!--            <option value="">推荐</option>-->
<!--            <option value="1">是</option>-->
<!--            <option value="0">否</option>-->
<!--          </select>-->
<!--          <select name="istop" style="padding:5px 15px; border:1px solid #ddd;" onchange="changeistop(this)">-->
<!--            <option value="">置顶</option>-->
<!--            <option value="1">是</option>-->
<!--            <option value="0">否</option>-->
<!--          </select>-->
<!--          &nbsp;&nbsp;&nbsp;-->

<!--          移动到：-->
<!--          <select name="movecid" style="padding:5px 15px; border:1px solid #ddd;" onchange="changecate(this)">-->
<!--            <option value="">请选择分类</option>-->
<!--            <option value="">产品分类</option>-->
<!--            <option value="">产品分类</option>-->
<!--            <option value="">产品分类</option>-->
<!--            <option value="">产品分类</option>-->
<!--          </select>-->
<!--          <select name="copynum" style="padding:5px 15px; border:1px solid #ddd;" onchange="changecopy(this)">-->
<!--            <option value="">请选择复制</option>-->
<!--            <option value="5">复制5条</option>-->
<!--            <option value="10">复制10条</option>-->
<!--            <option value="15">复制15条</option>-->
<!--            <option value="20">复制20条</option>-->
<!--          </select>-->
        </td>
      </tr>
      <tr>
        <td colspan="8"><div class="pagelist"> <a href="">上一页</a> <span class="current">1</span><a href="">2</a><a href="">3</a><a href="">下一页</a><a href="">尾页</a> </div></td>
      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">

//搜索
function changesearch(){	
		
}

//单个删除
function del(id){
	if(confirm("您确定要删除吗?")){
		$.ajax({
          type: "DELETE",
          url: "article/" + id,
          data: "json",
          success:function (data) {
            document.getElementById("article"+id).remove();
          }
        })
	}
}

//撤销文章
function revokeArticle(id){
  if(confirm("您确定要撤销文章吗?")){
    $.ajax({
      type: "PUT",
      url: "revokeArticle/" + id,
      data: "json",
      success:function (data) {
        if(data == "success"){
          $('#revoke_'+id).attr('onclick',"return releaseArticle("+id+")")
          $('#revoke_'+id).attr('class',"button border-green")
          $('#revoke_'+id).empty();
          $('#revoke_'+id).append("<span class=\"icon-check-square-o\"></span> 发布");
          console.log("Article id为"+id+"已撤销!");
        }
        // document.getElementById("article"+id).remove();
      }
    })
  }
}

//发布文章
function releaseArticle(id){
  if(confirm("您确定要发布文章吗?")){
    $.ajax({
      type: "PUT",
      url: "releaseArticle/" + id,
      data: "json",
      success:function (data) {
        if(data == "success"){
          $('#release_'+id).attr('onclick',"return revokeArticle("+id+")")
          $('#release_'+id).attr('class',"button border-yellow")
          $('#release_'+id).empty();
          $('#release_'+id).append("<span class=\"icon-question-circle\"></span> 撤销");
          console.log("Article id为"+id+"已发布!");
        }
        // document.getElementById("article"+id).remove();
      }
    })
  }
}

//全选
$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

//批量删除
function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false;		
		$("#listform").submit();		
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}

//批量排序
function sorts(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){	
		
		$("#listform").submit();		
	}
	else{
		alert("请选择要操作的内容!");
		return false;
	}
}


//批量首页显示
function changeishome(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");		
	
		return false;
	}
}

//批量推荐
function changeisvouch(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");	
		
		return false;
	}
}

//批量置顶
function changeistop(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){		
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");		
	
		return false;
	}
}


//批量移动
function changecate(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){		
		
		$("#listform").submit();		
	}
	else{
		alert("请选择要操作的内容!");
		
		return false;
	}
}

//批量复制
function changecopy(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){	
		var i = 0;
	    $("input[name='id[]']").each(function(){
	  		if (this.checked==true) {
				i++;
			}		
	    });
		if(i>1){ 
	    	alert("只能选择一条信息!");
			$(o).find("option:first").prop("selected","selected");
		}else{
		
			$("#listform").submit();		
		}	
	}
	else{
		alert("请选择要复制的内容!");
		$(o).find("option:first").prop("selected","selected");
		return false;
	}
}

</script>
<script th:src="@{/js/admin/pages/index.js}"></script>
<script th:src="@{/layuiadmin/layui/layui.js}"></script>
<script>
  layui.config({
    base: '../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use('index');
</script>
</body>
</html>
