html, body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100%;
    font-family: Microsoft YaHei,SimHei,Tahoma!important;
}
a {text-decoration: none;;color: #595c5e}
a:hover{color: red}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float-clear{
    float: none;
}
.logo{
    font-size: 24px;
    color: #a7bcd2;
    text-shadow: 1px 1px 0px #fff;
    letter-spacing: 1.5px;
    height: 61px;
    padding: 0 10px 0 40px;
    /* background: #fbfbfb!important; */
    border-bottom: 1px solid #eee;
}
.all{
    width: 100%;
    height: 100%;
}
.head{
    width: 100%;
    height: 62px;
}
.pan{
    width: 125px;
    height: 61px;
    /* margin: 0 0 0 20px; */
    overflow: hidden;
    background-color: #4b6c9e;
}
.netdisc{
    color: #3582f8;
    font-size: 16px;
    height: 62px;
    line-height: 62px;
    margin: 0 25px;
    font-weight: 400;
    vertical-align: middle;
}
.log{
    margin-right: 10px;
    height: 62px;
    line-height: 62px;
}
#con-b{
    background: #E7C062;
    color: #fff;
    padding: 4px 10px;
    border-radius: 20px;
}
.logger{
    width: auto;
    margin-right: 20px;
    height: 34px;
}
.logger img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #e7e7e7;
}
.logger .user-avatar{
    display: inline-block;
    vertical-align: middle;
}
.logger .user-name{
    margin-left: 5px;
}
.container{
    width: 100%;
    height: 100%;
}
.container-left{
    width: 9%;
    height: 100%;
    color: #424e67;
    background-color: #f7f7f7;
}
.container-left ul{
    padding: 0;
    list-style: none;
}
.container-left ul li{
    width: 100%;
    /*height: 45px;*/
    cursor: pointer;
    line-height: 45px;
}
.container-left ul li img{
    width: 20px;
    margin-bottom: -3px;
    height: 20px;
}
.container-left ul li span{
    width: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
}
.container-left ul li a{
    padding-left: 20px;
    display: inline-block;
    width: 100%;
    height: 45px;
    cursor: pointer;
    line-height: 45px;
    text-decoration: none;
    color: #424e67;
}
.container-left ul li a:hover{
    display: inline-block;
    width: 100%;
    height: 45px;
    cursor: pointer;
    line-height: 45px;
    text-decoration: none;
    background: rgba(0,0,0,.05);
}
.a-click{
    display: inline-block;
    width: 100%;
    height: 45px;
    cursor: pointer;
    line-height: 45px;
    text-decoration: none;
    color:#3582f8; 
    background: rgba(0,0,0,.05);
}
.container-right{
    width: 90%;
    background: #fff;
    border-radius: 2px;
    height: 100%;
    border:1px solid #e7e7e7;
}
.operating{
    width: 97%;
    margin-left: 1.5%;
    height: 50px;
    margin-top: 15px;
}
.operating img{
    width: 16px;
    margin-bottom: -3px;
    margin-right: 7px;
    height: 16px;
}
.operating-right input{
    border:none;
    padding-left: 15px;
    outline:none;
    height: 30px;
    width: 200px;
    background: rgba(0,0,0,.05);
    border-radius: 45px;
}
.btn-up{
	color:#3582f8;
    cursor: pointer;
	height:;
	padding:6px 12px;
	border:1px solid #3582f8;
	border-radius:4px;
    background: #3582f8;
    color: #fff;
}
.btn-up input{
	display:none;
}
.btn{
	color:#3582f8;
	margin-left:12px;
    cursor: pointer;
	height:;
	padding:6px 12px;
	border:1px solid #3582f8;
	border-radius:4px;
}
.w e buploader-pick:before{
    content: "\e618";
}
.content{
    width: 97%;
    margin-left: 1.5%;
}
.content table{
    width: 100%;
    height: 100%;
    border-collapse:collapse;
    line-height: 20px;
    color: #424e67;
    font-size: 12px;
}
.content table thead{
    text-align: left;
    width: 100%;
}
.content table tbody{
    width: 100%;
}
.content table thead tr{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.content table tbody tr{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.content table tbody tr:hover{
    background: #eff4f8;
}
.flodercount{
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #424e67;
    font-size: 12px;
}
.floader-check{
    position: relative;
    width: 2%;
}
.checkbox{
    display: none;
}
.checkbox +label{
    background: #fff;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    border:1px solid #ccc;;
    cursor: pointer;
    position: absolute;
    top: 14px;
}
.checkbox:checked +label::before{
    display: block;
    content: "\2714";
    text-align: center;
    font-size: 16px;
    color: red;
}
.floader-file{
    width: 58%;
}
.floader-name{
    width: 58%;
/*    padding-left: 2%;*/
}
/*.floader-name:before{
    content:"";
    background:url("../images/index/download.png") no-repeat;
    background-size: 25px 24px;
    width:25px;
    height:24px;
    position:absolute;
    margin-left: -1.5%;
    margin-top: 8px;
}*/
.floader-size{
    width: 15%;
}
.floader-time{
    width: 25%;
}
.more{
    position: fixed;
    margin-top: -1px;
    display: none;
    list-style-type: none;
}
.more li{
    padding: 6px
}
.menu-toggle-knob {
    position: absolute;
    top: calc(50% - 32px);
    padding: 0;
    border-width: 9px 0 9px 20px;
    border-color: transparent transparent transparent #ebebeb;
    background: none;
    width: 0;
    height: 64px;
    outline:0;
    line-height: 46px;
    color: #c1c1c1;
}

/* -----------------------------  表格 -----------------------------*/

table tbody {
    display:block;
    height:850px;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
}
 
table tbody::-webkit-scrollbar {
    display: none;
}
 
table thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
 
table thead {
    width: calc( 100% - 1em )
}

/* -----------------------------  Icon font style(图标字体样式) -----------------------------*/

.fa-list{
    color:#3582f8;
    font-weight:bold;
}
.fa-list:before{
    content: "\f03a";
    padding: 5px;
}
.fa-angle-down:before {
    content: "\f107";
    font-weight: bold;
}
.fa-file-text-o:before {
    content: "\f016";
    font-size: 20px;
    margin-left: 6px;
    /* padding: 1px; */
    padding-right: 9px;
    color: #595c5f;
}
.fa-caret-down:before {
    content: "\f0d7";
    padding-right: 5px;
}
.fa-sign-out{
    font-size: 17px;
    /* margin-right: 8%; */
    padding-right: 19px;
}
.fa-search{
    position: absolute;
    margin: 7px 0px 0px -31px;
}
.fa-sort-amount{
    margin-top: -24px;
    color: #424e67;
}
.fa-sort-amount span{
    margin-right: 10px;
}
.fa-sort-amount i{
    margin-right: 10px;
}
.footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 9%;
    height: 40px;
    background-color: #b9b9b9;
    z-index: 9999;
}
.fa-cloud{
    position: absolute;
    /* margin: 0 auto; */
    left: 25%;
    top: 35%;
    color: #fdfdfd;
}
.fa-cloud:before {
    content: "\f0c2";
    margin-right: 3px; 
}
.disableelement{
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fa-caret-up:before {
    content: "\f0d7";
    padding-right: 5px;

}
.fa-folder-open-o:before {
    content: "\f016";
    font-size: 20px;
    margin-left: 6px;
    /* padding: 1px; */
    padding-right: 6px;
    color: #595c5f;
}
.fa-filter:before {
    content: "\f0b0";
    padding: 5px;
}
.fa-cloud-upload:before {
    content: "\f0ee";
    padding-right: 3px;
}
.fa-upload:before {
    content: "\f093";
    padding-right: 3px;
}
.fa-plus-square-o:before {
    content: "\f196";
    padding-right: 3px;
}
.fa-download:before {
    content: "\f019";
    padding-right: 3px;
}


/* layui相关 */
.layui-icon-list{
    font-size: 15px;
    padding-left: 15%;
}
.layui-icon-list:before{
    content: "\e60a";
    position: absolute;
    color: #10a9fa;
    margin-left: -23px;
    padding-top: -2px;
    font-size: 24px;
}
