body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #eff4f8;
    font-family: Microsoft YaHei,SimHei,Tahoma!important;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float-clear{
    float: none;
}
.all{
    width: 100%;
    height: 100%;
}
.container{
    background-image:url(../images/login/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%,600px;
}
.head{
    width: 100%;
    height: 60px;
}
.logo{
    width: 181px;
    height: 51px;
    background: url(../images/login/logo.png) no-repeat scroll 0;
    margin: 10px 0 0 25px;
    overflow: hidden;
}
.logo-right{
    margin: 25px 20px 0 0;
    color: #fff;
    text-decoration: none;
}
.logo-right span{
    margin: 30px 20px 0 0;
    cursor: pointer;
}
#con-a{
    color: red;
}
#con-b{
    background: #e35a53;
    color: #fff;
    padding: 4px 10px;
    border-radius: 20px;
}
.content{
    width: 100%;
    height:500px;
}
.login{
    margin-top: 50px;
    margin-bottom: 80px;
    margin-right: 125px;
    background: #fff;
    border-radius: 2px;
    width: 350px;
    height: 400px;
}
.login form{
    width: 89%;
    margin-left: 5.5%;
}
.login-head p{
    height: 60px;
    line-height: 60px;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}
.login-input .input-account{
    outline:none;
    padding: 7px 10px;
    height: 26px;
    width: 284px;
    background-color: rgb(250, 255, 189) !important;
    box-shadow: none;
    color: rgb(0, 0, 0);
    padding-left: 16px!important;
    border: none;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.login-input .input-pwd{
    outline:none;
    padding: 7px 10px;
    height: 26px;
    width: 284px;
    background-color: rgb(250, 255, 189) !important;
    box-shadow: none;
    color: rgb(0, 0, 0);
    padding-left: 16px!important;
    border: none;
    border: 1px solid #e7e7e7;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.login-button{
    margin-top: 15px;
}
.login-button p{
    font-size: 12px;
}
.login-button button{
    margin-top: 10px;
    width: 100%;
    height: 41px;
    background: #3582f8;
    border-radius: 4px;
    transition: .3s;
    font-size: 16px;
    border: 0;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-family: Microsoft YaHei,SimHei,Tahoma;
    font-weight: 100;
}
.login-button span{
    color: #666;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    top: 14px;
    margin: 0;
    cursor: pointer;
}
.login-button .float-right{
    margin-right: 10px;
    color: #3582f8;
}
.login .footer{
    width: 100%;
    height: 65px;
    margin-top: 58px;
    line-height: 65px;
    background: #f3f8ff;
    color: #3582f8;
    border-radius: 2px;
}
.login-we{
    margin-left: 20px;
    cursor: pointer;
}
.regster{
    margin-right: 20px;
    cursor: pointer;
}
.login-other{
    margin-left: 30px;
    width: 120px;
    height: 65px;
}
.login-other div{
    margin-left: 10px;
    text-align: center;
    width: 30px;
    cursor: pointer;
    margin-top: 5px;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #b6bac3;
    padding-bottom: 10px;
}