<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>后台管理模板系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/admin/expand.css}" media="all">
</head>
<body class="layui-layout-body" style="background-color: #fbfbfb;">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="https://www.slera.cn" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search"
                           layadmin-event="serach" lay-action="template/search.html?keywords=">
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <li class="layui-nav-item" lay-unselect>
                    <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                        <i class="layui-icon layui-icon-notice"></i>

                        <!-- 如果有新消息，则显示小圆点 -->
                        <span class="layui-badge-dot"></span>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite th:text="${cname}"></cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="set/user/info.html">基本资料</a></dd>
                        <dd><a th:lay-href="@{/cms/user/pass}">修改密码</a></dd>
                        <hr>
                        <dd style="text-align: center;"><a th:href="@{/logout}">退出</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i
                            class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home">
                    <span>后台管理系统</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" style="height: 100%;"
                    lay-filter="layadmin-system-side-menu">
                    <li class="layui-nav-item nav-item">
                        <a lay-href="home" lay-tips="数据统计" lay-direction="2">
                            <i class="layui-icon layui-icon-chart"></i>
                            <cite>数据统计</cite>
                        </a>
                    </li>
                    <li data-name="home" class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" lay-tips="文章管理" lay-direction="2">
                            <i class="layui-icon layui-icon-list"></i>
                            <cite>文章管理</cite>
                        </a>
                        <dl class="layui-nav-child">

                            <dd data-name="console">
                                <a th:lay-href="@{/admin/addArticle}">添加文章</a>
                            </dd>
                            <dd data-name="console">
                                <a th:lay-href="@{/admin/listArticle}">文章管理</a>
                            </dd>
                            <dd data-name="console">
                                <a th:lay-href="@{/admin/listCategory}">分类管理</a>
                            </dd>
                            <dd data-name="console">
                                <a lay-href="">评论管理(未开放)</a>
                            </dd>
                        </dl>
                    </li>
                    <li data-name="set" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="设置" lay-direction="2">
                            <i class="layui-icon layui-icon-set"></i>
                            <cite>系统设置</cite>
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="">基本资料(未开放)</a></dd>
                            <dd><a th:lay-href="@{/cms/user/pass}">修改密码</a></dd>
                            <dd><a th:lay-href="@{/cms/siteInfo}">站点信息</a></dd>
                            <dd><a lay-href="">邮件服务(未开放)</a></dd>
                        </dl>
                        </dl>
                    </li>
                    <li data-name="set" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="高级设置" lay-direction="2">
                            <i class="layui-icon layui-icon-senior"></i>
                            <cite>高级设置</cite>
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd><a th:lay-href="@{/ssh/list}">云服务器列表</a></dd>
                            <dd><a th:lay-href="@{/oss/list}">云存储桶设置</a></dd>
                            <dd><a lay-href="">秘钥管理(未开放)</a></dd>
                            <dd><a lay-href="">短信模板管理(未开放)</a></dd>
                            <dd><a lay-href="">系统异常管理(未开放)</a></dd>
                            <dd><a lay-href="">云盘设置(未开放)</a></dd>
                        </dl>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs"
                 Style="border-left: 1px solid #f0f0f0;">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="home" lay-attr="home" class="layui-this"><i
                            class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>

        <!-- 主体内容 -->
        <div class="admin layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe scrolling="auto" rameborder="0" src="home" width="100%" height="100%"></iframe>
            </div>
        </div>
        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<script th:src="@{/js/modal/modal.js}"></script>
<script th:src="@{/js/admin/pages/index.js}"></script>
<script th:src="@{/layuiadmin/layui/layui.js}"></script>
<script>
    layui.config({
        base: '../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');
</script>
<!--<script>-->
<!--    window.onbeforeunload = function (e) {-->
<!--        console.log(1);-->
<!--        var e = window.event || e;-->
<!--        e.returnValue = ("确定离开当前页面吗？");-->
<!--    }-->
<!--</script>-->
</body>
</html>


