<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="renderer" content="webkit">
	<title>网站信息</title>
	<link rel="stylesheet" th:href="@{/css/pintuer.css}">
	<link rel="stylesheet" th:href="@{/css/admin.css}">
	<link th:href="@{/layui/css/modules/layer/default/layer.css}">
	<script th:src="@{/js/jquery/jquery.min.js}"></script>
	<!--    <script th:src="@{/js/jquery/jquery.js}"></script>-->
	<script th:src="@{/js/pintuer.js}"></script>
	<script th:src="@{/layer/layer.js}"></script>

</head>
<body>
<div class="panel admin-panel">
	<div class="panel-head"><strong class="icon-reorder"> 云列表</strong></div>

	<div class="padding border-bottom">
		<a class="button border-main" href="javascript:void(0)" th:onclick="return add()">命令终端</a>
		<a class="button border-yellow" href="javascript:void(0)" th:onclick="return add()"><span></span>SSH终端</a>
	</div>
	<table class="table table-hover text-center">
		<tr>
			<th width="5%">ID</th>
			<th>主机地址</th>
			<th>端口号</th>
			<th>用户名</th>
			<th>密码</th>
			<th width="250">操作</th>
		</tr>

		<tr th:each="bucket,userStat : ${cloudBucket}">
			<td th:text="${bucket.id}"></td>
			<td th:text="${bucket.bucketName}"></td>
			<td th:text="${bucket.cloudAdress.regionnames}"></td>
			<td th:text="${bucket.cloudAccesskey.accesskeyId}"></td>
			<td th:text="${bucket.cloudAccesskey.accesskeyId}"></td>
			<td>
				<div class="button-group">
					<a type="button" class="button border-main" href="javascript:void(0)" th:onclick="return add([[${bucket.id}]],1)"><span class="icon-edit"></span>修改</a>
					<a class="button border-red" href="javascript:void(0)" th:onclick="return del([[${bucket.id}]])"><span class="icon-trash-o"></span> 删除</a>
				</div>
			</td>
		</tr>

	</table>
</div>
<script>
	function del(id){
		layer.confirm('您确定要删除吗?', {
					btn: ['确定','取消'] //按钮
				}, function(){
					var url = window.location.origin;
					$.ajax({
						type: "get",
						url: url +"/oss/delBucket?bucketId=" + id,
						dataType: "text",
						success: function (data) {
							if(data == "success"){

							}else {

							}

						}
					});
				}, function(){
					layer.msg("已取消");
				}
		);
	}
</script>
<script>
	function add() {
		window.parent.frames.ssh();
	}
</script>
</body>

</html>
