
<div class="layui-card-header">
  版本信息</div>
<div class="layui-card-body layui-text layadmin-about">

  <blockquote class="layui-elem-quote" style="border: none;">
    <div style="line-height: 50px">
      <b>当前版本：v0.0.1_beta</b>
      <br>
      <b>更新内容：初始化</b>
      <div>
        <br>
      </div>
    </div>
  </blockquote>
  <p>© 2019
    <a href="https://www.slera.cn">huyingxu</a> 版权所有</p>
</div>
