body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

#box {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#left {
	width: calc(7% - 5px);
	height: 100%;
	/*background: skyblue;*/
	float: left;
}

#resize {
	width: 3px;
	height: 100%;
	cursor: w-resize;
	float: left;
	background: #f2f5f8;
}

#right {
	float: right;
	width: 87%;
	height: 100%;
}
.no-data[data-v-7e6a579e] {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	overflow-y: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.no-data div[data-v-7e6a579e] {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 160px;
	flex: 1 0 160px;
}

.no-data span[data-v-7e6a579e] {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: center;
	padding: 30px;
	color: #666;
	font-size: 14px
}

.paginataion-container[data-v-dd22b374] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 300px;
	height: 38px
}

.paginataion-container img[data-v-dd22b374] {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 38px;
	flex: 0 0 38px;
	height: 38px
}

.total-num[data-v-dd22b374] {
	font-size: 14px;
	color: #4b595f
}

.current-page[data-v-dd22b374] {
	width: 48px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #ebeef0;
	font-size: 14px;
	text-align: center;
	color: #03a9f4;
	outline: none
}

.page-count[data-v-dd22b374] {
	font-size: 14px;
	color: #4b595f
}

.add-comment-container[data-v-2b4ea32a] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border-radius: 4px;
	border: 1px solid #eee;
	margin: 30px 0
}

.add-comment-container .tab-container[data-v-2b4ea32a] {
	padding: 0 10px;
	border-bottom: 1px solid #eee;
	background-color: #f9fafc;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.add-comment-container .tab-container ul[data-v-2b4ea32a] {
	margin-top: 8px;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-right: 10px
}

.add-comment-container .tab-container li[data-v-2b4ea32a] {
	padding: 10px;
	font-size: 14px;
	cursor: pointer;
	margin-bottom: -1px;
	color: #586069;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.add-comment-container .tab-container li.active[data-v-2b4ea32a] {
	color: #24292e;
	background-color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee
}

.add-comment-container .tab-container div[data-v-2b4ea32a] {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.add-comment-container .tab-container div a[data-v-2b4ea32a] {
	color: #2196f3
}

.add-comment-container .tab-container div a[data-v-2b4ea32a]:hover {
	text-decoration: underline
}

.add-comment-container textarea[data-v-2b4ea32a] {
	margin: 10px;
	border-radius: 3px;
	padding: 15px 30px 15px 15px;
	border: 1px solid #eee;
	background-color: #fff;
	font-size: 14px;
	color: #4b595f;
	outline: none
}

.add-comment-container textarea[data-v-2b4ea32a]:disabled {
	cursor: not-allowed
}

.add-comment-container .markdown-body[data-v-2b4ea32a] {
	margin: 15px;
	min-height: 107px
}

.add-comment-container .add-comment-btn[data-v-2b4ea32a] {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin: 0 15px 15px 0;
	border-radius: 4px;
	float: right;
	background-color: #34d058;
	color: #fff;
	-ms-flex-item-align: end;
	align-self: flex-end;
	padding: 8px 12px;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: none;
	outline: none
}

.add-comment-container .add-comment-btn[data-v-2b4ea32a]:hover {
	background-color: #34c058
}

.add-comment-container .add-comment-btn[data-v-2b4ea32a]:disabled {
	background-color: #94d3a2;
	cursor: not-allowed
}

.width-match-parent-btn[data-v-2b4ea32a] {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 30px 0;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 4px;
	font-size: 16px;
	background-color: #eff7ff;
	color: #3593f2
}

.width-match-parent-btn[data-v-2b4ea32a]:hover {
	background-color: #3593f2;
	color: #fff
}