<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>  
    <link rel="stylesheet" th:href="@{/css/pintuer.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link th:href="@{/layui/css/modules/layer/default/layer.css}">
    <link th:href="@{layui/css/modules/layer/default/layui.css}">
    <script th:src="@{/js/jquery/jquery-1.12.3.min.js}"></script>
    <script th:src="@{/js/pintuer.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>

</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 云存储列表</strong></div>
  <div class="padding border-bottom">  
  <a class="button border-yellow" href="javascript:void(0)" th:onclick="return add(0)"><span class="icon-plus-square-o"></span>添加Bucket</a>
  </div>

  <table class="table table-hover text-center">
    <tr>
      <th width="5%">ID</th>
      <th>云平台</th>
      <th>Bucket 名称</th>
      <th>区域</th>
      <th>秘钥id</th>
      <th>默认</th>
      <th width="250">操作</th>
    </tr>
   
    <tr th:each="bucket,userStat : ${cloudBucket}">
      <td th:text="${bucket.id}"></td>
      <td>阿里云</td>
      <td th:text="${bucket.bucketName}"></td>
      <td th:text="${bucket.cloudAdress.regionnames}"></td>
      <td th:text="${bucket.cloudAccesskey.accesskeyId}"></td>
      <td>
          <div class="layui-form-item">
              <label class="layui-form-label">开关-默认开</label>
              <div class="layui-input-block">
                  <input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
              </div>
          </div>
      </td>
      <td>
      <div class="button-group">
      <a type="button" class="button border-main" href="javascript:void(0)" th:onclick="return edit([[${bucket.id}]])"><span class="icon-edit"></span>修改</a>
       <a class="button border-red" href="javascript:void(0)" th:onclick="return del([[${bucket.id}]])"><span class="icon-trash-o"></span> 删除</a>
      </div>
      </td>
    </tr> 

  </table>
</div>
<script>
function del(id){
    layer.confirm('您确定要删除吗?', {
        btn: ['确定','取消'] //按钮
    }, function(){
            var url = window.location.origin;
            $.ajax({
                type: "get",
                url: url +"/oss/delBucket?bucketId=" + id,
                dataType: "text",
                success: function (data) {
                    if(data == "success"){
                        layer.msg('删除成功', {icon: 1});
                    }else {
                        layer.msg('OMG,删除失败了', {icon: 2});
                    }
                }
            });
    }, function(){
            layer.msg("已取消");
        }
    );
}
</script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

        //表单赋值
        layui.$('#LAY-component-form-setval').on('click', function(){
            form.val('example', {
                "username": "贤心" // "name": "value"
                ,"password": "123456"
                ,"interest": 1
                ,"like[write]": true //复选框选中状态
                ,"close": true //开关状态
                ,"sex": "女"
                ,"desc": "我爱 layui"
            });
        });

        //表单取值
        layui.$('#LAY-component-form-getval').on('click', function(){
            var data = form.val('example');
            alert(JSON.stringify(data));
        });

    });
</script>
<script>
    function add(id) {
        ;!function () {
        //页面一打开就执行，放入ready是为了layer所需配件（css、扩展模块）加载完毕
            layer.ready(function () {
                layer.open({
                    type: 2,
                    title: '添加Bucket',
                    maxmin: true,
                    area: ['800px', '575px'],
                    content: 'addBucket?id='+id,
                    end: function () {
                        // 关闭后操作
                        // layer.tips('Hi', '#about', {tips: 1})
                    }
                });
            });
        }();
    };
    function edit(id) {
        ;!function () {
            //页面一打开就执行，放入ready是为了layer所需配件（css、扩展模块）加载完毕
            layer.ready(function () {
                layer.open({
                    type: 2,
                    title: '修改Bucket',
                    maxmin: true,
                    area: ['800px', '575px'],
                    content: 'editBucket?id='+id,
                    end: function () {
                        // 关闭后操作
                        // layer.tips('Hi', '#about', {tips: 1})
                    }
                });
            });
        }();
    }

</script>
</body>

</html>
