<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>添加Bucket</title>
    <link rel="stylesheet" th:href="@{/css/pintuer.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script src="http://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
    <script th:src="@{/js/pintuer.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>
    <style>
        /*查看密码*/
        .pass {
            position: relative;
        }
        .pass img {
            position: absolute;
            top: 3px;
            left: 186px;
        }
    </style>

</head>
<body>

<div class="panel admin-panel margin-top">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加/修改Bucket</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="/oss/saveBucket">
            <input type="hidden" name="id"  value="" />
            <div class="form-group">
                <div class="label">
                    <label>栏目名称：</label>
                </div>
                <div class="layui-tab "> <!-- layui-tab-card -->
                    <ul class="layui-tab-title">
                        <li class="layui-this">阿里云</li>
                        <li>腾讯云</li>
                        <li>七牛云</li>
                        <li>其他</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <div class="form-group">
                                <div class="label">
                                    <label>区域(阿里云)：</label>
                                </div>
                                <div class="field">
                                    <select  name="addrId" class="input w50" onchange="func()">
                                        <option th:each="list,userStat:${cloudAdressList}" th:value="${list.id}" th:addr="${list.endpoint}" th:text="${list.regionnames}"></option>
                                    </select>
                                    <div class="tips"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="label">
                                    <label>Endpoint：</label>
                                </div>
                                <div class="field" style="margin-top: 0.7%;">
                                    <span id="addr" style="" th:text="${cloudAdressList.get(0).getEndpoint()}"></span>
                                    <div class="tips"></div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="layui-tab-item layui-show">
                                <div class="form-group">
                                    <div class="label">
                                        <label>区域(腾讯云)：</label>
                                    </div>
                                    <div class="field">
                                        <select name="cid" class="input w50">
                                            <option value="">请选择分类</option>
                                            <option value="">产品分类</option>
                                            <option value="">产品分类</option>
                                            <option value="">产品分类</option>
                                            <option value="">产品分类</option>
                                        </select>
                                        <div class="tips"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="layui-tab-item layui-show">
                                <div class="form-group">
                                    <div class="label">
                                        <label>区域(七牛云)：</label>
                                    </div>
                                    <div class="field">
                                        <input type="text" class="input w50" name="title" value="" />
                                        <div class="tips"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="layui-tab-item layui-show">
                                <div class="form-group">
                                    <div class="label">
                                        <label>其他：</label>
                                    </div>
                                    <div class="field">
                                        <input type="text" class="input w50" name="title" value="" />
                                        <div class="tips"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>Bucket 名称：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" name="bucketName" value="" data-validate="required:"  /> &nbsp<p style="font-size: 10px;color: red;margin: 1%;">(不存在自动新建)</p>
                    <div class="tips"></div>
                </div>
            </div>
            <a style="color: #0000FF;margin-left: 15%;display: block" id="txt1" href="javascript:void(0)" onclick="key(1,2)" >选择已有的key?</a>
            <a style="color: #0000FF;margin-left: 15%;display: none" id="txt2" href="javascript:void(0)" onclick="key(2,1)" >使用新的key?</a>
            <div class="form-group" style="display: block">
                <div class="label">
                    <label>秘钥ID：</label>
                </div>
                <div class="field" id="key1" style="display: block">
                    <input type="text" class="input w50" name="accesskeyId" value=""/>
                    <div class="tips"></div>
                </div>
                <div class="field" id="key2" style="display: none">
                    <select  name="keyId" class="input w50" onchange="func()">
                        <option th:each="list,userStat:${accesskeyList}" th:value="${list.id}" th:text="${list.accesskeyId}"></option>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>秘钥：</label>
                </div>
                <div class="field">
                    <input type="password" id="pwd1" class="password form-control input w50" name="accesskeySecret" value="" />
                    <img class="passimgs" style="margin-left: -3.9%;margin-top: 1.3%;" th:src="@{/images/xs.png}">
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>设为默认：</label>
                </div>
                <div class="field">
                    <div class="button-group radio">
                        <label class="button">
                            <span class="icon icon-check"></span>
                            <input name="status" value="2" type="radio" checked="checked">是
                        </label>

                        <label class="button active"><span class="icon icon-times"></span>
                            <input name="status" value="1"  type="radio" checked="checked">否
                        </label>
                    </div>
                </div>
            </div>
<!--            <div class="form-group">-->
<!--                <div class="label">-->
<!--                    <label>排序：</label>-->
<!--                </div>-->
<!--                <div class="field">-->
<!--                    <input type="text" class="input w50" name="sort" value="0"  data-validate="required:,number:排序必须为数字" />-->
<!--                    <div class="tips"></div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use('element', function(){
        var $ = layui.jquery
            ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabAdd: function(){
                //新增一个Tab项
                element.tabAdd('demo', {
                    title: '新选项'+ (Math.random()*1000|0) //用于演示
                    ,content: '内容'+ (Math.random()*1000|0)
                    ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                })
            }
            ,tabDelete: function(othis){
                //删除指定Tab项
                element.tabDelete('demo', '44');
                othis.addClass('layui-btn-disabled');
            }
            ,tabChange: function(){
                //切换到指定Tab项
                element.tabChange('demo', '22');
            }
        };

        $('.site-demo-active').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function(elem){
            location.hash = 'test='+ $(this).attr('lay-id');
        });

    });
</script>
<script>
    var pimg=$(".passimgs");
    pimg.mouseover(function() {
        $(this).attr("src", "/images/xianshi.png");
        $(".password").attr("type", "text");
    });
    pimg.mouseout(function() {
        $(this).attr("src", "/images/xs.png");
        $(".password").attr("type", "password");
    });
</script>
<script>
    function func() {
        //获取被选中的option标签
        var vs = $('select  option:selected').attr("addr");;
        // 改变Endpoint
        $("#addr").html(vs);
    };
    function key(id1,id2){
        $("#key"+id1).css("display","none");
        // $("#key"+id1).empty();
        $("#key"+id2).css("display","block");
        $("#txt"+id1).css("display","none");
        // $("#txt"+id1).empty();
        $("#txt"+id2).css("display","block");
        $("#pwd"+id1).attr('disabled', 'disabled');
        $("#pwd"+id2).removeAttr("disabled","")
    }

</script>
</body>
</html>