<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>云盘首页</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" th:href="@{/css/pan/index.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/css/pan/modal.css}" type="text/css"/>
	<link th:href="@{/css/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/layuiadmin/layui/css/modules/layer/default/layer.css}">
	<link th:href="@{/layuiadmin/layui/css/layui.css}">
	<script th:src="@{/js/jquery/jquery-1.12.3.min.js}"></script>
	<script th:src="@{/layuiadmin/layer/layer.js}"></script>
	<script th:src="@{/layuiadmin/layui/layui.js}"></script>
	<script type="text/javascript">
		var path="${contentPath}";
		function aclick(_this) {
			$(_this).addClass("a-click");
			$(_this).parents("li").nextAll().children("a").removeClass("a-click");
			$(_this).parents("li").prevAll().children("a").removeClass("a-click");
		}
	</script>
</head>
<body>
	<div class="all">
		<div class="head" style="display: none">
			<div class="oper float-left">
				<div class="pan float-left logo" lay-href="home"><span style="position: absolute;margin-top: 13px;">H云盘</span></div>
				<!-- <div class="netdisc float-left">网盘</div>
				<div class="netdisc float-left">更多</div> -->
			</div>
			<div class="log float-right">
				<span style="margin-right: 30px;">您好,<a href="#" title="登录">请登录</a></span>
				<i class="fa fa-sign-out" aria-hidden="true"></i>
				<!--
				<span class="logger float-left">
					<img class="user-avatar" src="images/index/Liu.jpg">
					<span class="user-name">Forgotten</span>
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</span>
				<span id="con-b">会员中心</span>
			-->
			</div>
		</div>
		<div class="container">
			<div class="container-left float-left" style="width: 9%;" id="left-menu">
				<div class="oper float-left" style="height: 64px;">
					<div class="pan float-left logo" lay-href="home" style=""><span style="position: absolute;margin-top: 13px;">H云盘</span>
					</div>
				<!-- <div class="netdisc float-left">网盘</div>
				<div class="netdisc float-left">更多</div> -->
			</div>
				<ul>
					<li>
						<a href="javascript:void(0)" onclick="aclick(this)" class="a-click">
							<i class="fa fa-list" aria-hidden="true">全部文件</i>
						</a>
					</li>
					<li><a href="javascript:void(0)" onclick="aclick(this)"><span></span>图片</a></li>
					<li><a href="javascript:void(0)" onclick="aclick(this)"><span></span>文档</a></li>
					<li><a href="javascript:void(0)" onclick="aclick(this)"><span></span>视频</a></li>
					<li><a href="javascript:void(0)" onclick="aclick(this)"><span></span>种子</a></li>
					<li><a href="javascript:void(0)" onclick="aclick(this)"><span></span>音乐</a></li>
					<li><a href="javascript:void(0)" onclick="aclick(this)"><span></span>其它</a></li>
				</ul>
				<div>
					<ul id="left-namespace">
						<li>
							<a href="javascript:void(0)" onclick="aclick(this)" class="a-click">
								<i class="fa fa-filter" aria-hidden="true">存储桶</i>
							</a>
						</li>
					</ul>
				</div>
				<span class="footer" onclick="openF()">
					<i class="fa fa-cloud" aria-hidden="true">任务列表</i>
				</span>
			</div>
			<button type="button" class="menu-toggle-knob" onclick="leftSwitch();">
				<i class="fa fa-chevron-left" aria-hidden="true" id="chevron" style="position: relative;margin-left: -20px;width: 12px;"></i>
			</button>
			<div class="container-right float-left disableelement" id="left-list">
				<div class="operating">
					<div class="operating-left float-left">
						<div class="btn-up float-left" id="files_img">
							<i class="fa fa-cloud-upload" aria-hidden="true">上传</i>
							<!-- <i class="layui-icon layui-icon-upload" style="font-size: 15px;padding-top: -22px;color: #ffffff;"></i> -->
						</div>
						<div class="btn float-left" id="files" th:data-bucket="@{/oss/}" onclick="uploadFiles(this)">
							<i class="fa fa-upload" aria-hidden="true"><a style="color: #3582f8;">批量上传</a></i>
							<!-- <i class="layui-icon layui-icon-upload" style="font-size: 15px;padding-top: -22px;color: #ffffff;"></i> -->
						</div>
						<div class="btn float-left">
							<i class="fa fa-plus-square-o" aria-hidden="true">新建文件夹</i>
						</div>
						<div class="btn float-left" onclick="text()">
							<i class="fa fa-download" aria-hidden="true">离线下载</i>
						</div>

						<div class="float-left" onmousemove="MoreOn()"  onmouseout="MoreOut()">
							<div class="btn">
								<i class="fa fa-caret-down" id="button-more" aria-hidden="true">更多</i>
							</div>
							<ul class="btn more" id="button-other">
				                <li>复制</li>
				                <li>粘贴</li>
				                <li>删除</li>
			            	</ul>
			        	</div>
						<div class="btn float-left" id="top-refresh" onclick="refresh()">
							<i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
						</div>
					</div>
					<div class="operating-right float-right">
						<div style="margin-right: 120px;">
							<input type="text" name="" placeholder="搜索您的文件">
							<i class="fa fa-search" aria-hidden="true"></i>
						</div>
						<div class="float-right fa-sort-amount">
							<span>排序:</span>
							<i class="fa fa-sort-amount-desc" title="desc" aria-hidden="true"></i>
							<i class="fa fa-sort-amount-asc" title="asc" aria-hidden="true"></i>
						</div>
						
					</div>
				</div>
				<div class="content">
					<div class="flodercount">
						<div class="float-left" >
							<a id="broker-name" href="" style="color: #3582f8;">mblogs</a>&nbsp;|
							<span id="top-path">全部文件</span>
						</div>
						<span class="float-right">已全部加载,共30个</span>
					</div>
						<table>
							<thead>
								<tr>
									<th class="floader-check">
										<input type="checkbox" checked="checked" class="checkbox"><label for="checkbox"></label>
									</th>
									<th class="floader-file">文件名</th>
									<th class="floader-size">大小</th>
									<th class="floader-time">修改日期</th>
								</tr>
							</thead>
							<tbody id="file-list"></tbody>
						
						</table>
				</div>
			</div>
		</div>
	</div>
	<div id="bottom-outer" style="display: none">
		<div id="model">
			<div class="modal">
				<div style="float: right">
					<a style="padding: 10px;color:red;" href="javascript:closeModal();">x</a>
					<div class="fa-hover col-md-3 col-sm-4 close" style=""></div>
				</div>
				<div class="modalTitle"><span style="margin-left: 30px;">上传任务</span>
				</div>
				<div style="clear:both;">
					
				</div><hr>
			</div>

			<div id="footer" style="position: absolute; bottom: 0px; display: block;">
		    <div style="padding: 40px;"><button type="button" id="back" onclick="closeModal()" style="">关闭</button></div>
		</div>
	</div>
	</div>
	<input type="hidden" id="menu_type" value="up">
	<input type="hidden" id="downUrl" name="downUrl" th:text="${downUrl}">
</body>
<script type="text/javascript" th:src="@{/js/pan/modal.js}"></script>
<script type="text/javascript" th:src="@{/js/pan/index.js}"></script>
</html>

