<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=3,minimum-scale=1,maximum-scale=1,user-scalable=no">

		<title>OSS文件列表</title>

		<link rel="bookmark" th:href="@{/img/favicon.ico}"  type="image/x-icon">
		<link rel="stylesheet" th:href="@{/css/oss/app.css}" >
<!--		<link rel="stylesheet" th:href="@{/css/oss/basic.css}">-->
		<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<!--		<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">-->

	</head>

	<body style="position: static; overflow: visible;">

		<hr style=" height:1px;border:none;border-top:2px double #eee;" />
		<div id="box">
			<div class="app">

				<div id="resize"></div>
				<div class="blog-container main-container" id="right">

					<!--标签-->
					<div style="padding: 3px 3px 10px 3px">
						<button type="button" class="btn btn-outline-primary">Primary</button>
						<button type="button" class="btn btn-outline-secondary">Secondary</button>
						<button type="button" class="btn btn-outline-success">Success</button>
						<button type="button" class="btn btn-outline-danger">Danger</button>
						<button type="button" class="btn btn-outline-warning">Warning</button>
						<button type="button" class="btn btn-outline-info">Info</button>
						<button type="button" class="btn btn-outline-light">Light</button>
						<button type="button" class="btn btn-outline-dark">Dark</button>
					</div>
					<div class="blog-list-container">
						<div class="table-header">
							<span>名称</span>
							<span>创建时间</span>
						</div>
						<ul class="issue-list">
							<li class="issue-item" th:each="sums,userStat : ${sums}">
								<a href="" class="" th:text="${sums.key}"></a>
								<ul>
								</ul> <span class="time" th:text="${sums.lastModified}"></span>
							</li>
						</ul>
					</div>

				</div>

			</div>

		</div>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
		<script>
			window.onload = function() {
				var resize = document.getElementById("resize");
				var left = document.getElementById("left");
				var right = document.getElementById("right");
				var box = document.getElementById("box");
				resize.onmousedown = function(e) {
					var startX = e.clientX;
					resize.left = resize.offsetLeft;
					document.onmousemove = function(e) {
						var endX = e.clientX;

						var moveLen = resize.left + (endX - startX);
						var maxT = box.clientWidth - resize.offsetWidth;
						if(moveLen < 150) moveLen = 150;
						if(moveLen > maxT - 150) moveLen = maxT - 150;

						resize.style.left = moveLen;
						left.style.width = moveLen + "px";
						right.style.width = (box.clientWidth - moveLen - 5) + "px";
					}
					document.onmouseup = function(evt) {
						document.onmousemove = null;
						document.onmouseup = null;
						resize.releaseCapture && resize.releaseCapture();
					}
					resize.setCapture && resize.setCapture();
					return false;
				}
			}
		</script>
	</body>

</html>