<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>批量上传页</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/upload/reset.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/upload/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/upload/default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/upload/jquery.filer.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/upload/jquery.filer-dragdropbox-theme.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/upload/tomorrow.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/upload/custom.css}">
	<style>
		.mform-group{
			margin-top: 5%;
			width: 100%;
			height: 1%;
		}
		.mlabel{
			float: left;
			width: 20%;
			text-align: right;
			padding: 7px 7px 7px 0;
			margin-top: 0.18%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.mfield{
			float: left;width: 67%;
		}
		.button-minput{
			font-size: 14px;
			padding: 5px;
			width: 20%;
			background: #f7f8fa;
			white-space:nowrap;
			height: 30px;
			border-radius: 3px;
			-webkit-appearance: none;
		}
		.minput{
			font-size: 14px;
			padding: 5px;
			border: solid 1px #ddd;
			width: 80%;
			line-height: 20px;
			/*display: block;*/
			/*border-radius: 3px;*/
			/*-webkit-appearance: none;*/
			margin-left: -1%;
			height: 30px;
		}
		.jFiler-input-dragDrop {
			display: block;
			width: 100%;
			margin: 0 auto 25px auto;
			padding: 25px;
			color: #8d9499;
			color: #97A1A8;
			background: #fff;
			border: 2px dashed #C8CBCE;
			text-align: center;
			-webkit-transition: box-shadow 0.3s, border-color 0.3s;
			-moz-transition: box-shadow 0.3s, border-color 0.3s;
			transition: box-shadow 0.3s, border-color 0.3s;
		}
		.btn{
			color: #7b7a7a;
			cursor: pointer;
			padding: 6px 12px;
			border: 1px solid #6d6e6f;
		}
		.selected{
			color: #0070cc;
			cursor: pointer;
			padding: 6px 12px;
			border: 1px solid #0070cc;
		}
	</style>
</head>
<body>
<div class="mform-group">
	<div class="mlabel">
		<label>上传到</label>
	</div>
	<div class="mfield">
			<button class="button-minput" disabled>oss://[[${bucket}]]/</button>
		<input type="text" class="minput" id="filePath" name="filePath" onchange="changeValue(this)">
	</div>
</div>
<div class="mform-group">
	<div class="mlabel">
		<label>文件ACL</label>
	</div>
	<div class="mfield">
		<div class="btn float-left selected" data-type="default" >继承 Bucket</div>
		<div class="btn float-left" data-type="private" >私有</div>
		<div class="btn float-left" data-type="public-read" >公共读</div>
		<div class="btn float-left" data-type="public-read-write" >公共读写</div>
	</div>
</div>

<div class="mform-group">
	<div class="mlabel">
		<label>上传文件</label>
	</div>
	<div class="mfield">
		<input type="file" name="file" id="demo-fileInput-6">
	</div>
</div>

<script th:src="@{/js/jquery/jquery-2.1.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/upload/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/upload/jquery.filer.min.js}" type="text/javascript"></script>
<script th:src="@{/js/upload/prettify.js}" type="text/javascript"></script>
<script th:src="@{/js/upload/scripts.js}" type="text/javascript"></script>
<script th:src="@{/js/upload/custom.js}" type="text/javascript"></script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">


</div>
<script>
	document.getElementById("filePath").setAttribute('value',"[[${path}]]");
	function changeValue(obj){
		$(obj).attr("value",$(obj).val());
	}
</script>
</body>
</html>
