<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/pintuer.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script th:src="@{/js/jquery/jquery.js}"></script>
    <script th:src="@{/js/pintuer.js}"></script>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder">分类管理</strong></div>
    <div class="padding border-bottom">
        <button type="button" class="button border-yellow" data-toggle="modal" data-target="#myModal"><span
                class="icon-plus-square-o"></span> 添加分类
        </button>
    </div>
    <table class="table table-hover text-center">
        <tr>
            <th width="5%">ID</th>
            <th width="15%">分类名称</th>
            <th width="10%">文章数量</th>
            <th width="10%">创建时间</th>
            <th width="10%">修改时间</th>
            <th width="20%">操作</th>
        </tr>
        <tr th:each="category,userStat : ${categoryInfo}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td th:text="${category.number}"></td>
            <td th:text="${#dates.format(category.createBy,'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${#dates.format(category.modifiedBy,'yyyy-MM-dd HH:mm')}"></td>
            <td>
                <div class="button-group">
                    <a class="button border-main" style="text-decoration: none;" href="cateedit.html"><span class="icon-edit"></span> 修改</a>
                    <a class="button border-red" style="text-decoration: none;" href="javascript:void(0)" th:onclick="return isdel([[${category.id}]]);"><span class="icon-trash-o"></span> 删除</a>
                </div>
            </td>
        </tr>


    </table>
</div>
<script type="text/javascript">
    function isdel(id) {
        if (confirm("您确定要删除吗?")) {
            del(id);
        }
    }
</script>
<script type="text/javascript">
    function del(id) {
        // 删除分类信息
        $.ajax({
            type: "DELETE",
            url: 'delCategory/' + id,
            // data: {'username':username},
            dataType: 'text',
            success: function (data) {
                if (data == "ok") {
                    alert("123");
                }
                alert("32131");
            },
            error: function () {
                alert("删除失败了！");
            }
        });
    }
</script>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:45%;">
        <div class="modal-content">
            <div class="panel admin-panel margin-top">
                <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>添加内容</strong></div>
                <div class="body-content" style="padding: 33px;">
                    <form method="post" class="form-x" action="">
                        <div class="form-group">
                            <div class="label">
                                <label>上级分类：</label>
                            </div>
                            <div class="field">
                                <select name="pid" class="input w50">
                                    <option value="">请选择分类</option>
                                    <option value="">产品分类</option>
                                    <option value="">产品分类</option>
                                    <option value="">产品分类</option>
                                    <option value="">产品分类</option>
                                </select>
                                <div class="tips">不选择上级分类默认为一级分类</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>分类标题：</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input w50" name="title"/>
                                <div class="tips"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>批量添加：</label>
                            </div>
                            <div class="field">
                                <textarea type="text" class="input w50" name="tits" style="height:150px;"
                                          placeholder="多个分类标题请转行"></textarea>
                                <div class="tips">多个分类标题请转行</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>关键字标题：</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" name="s_title"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>分类关键字：</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" name="s_keywords"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>关键字描述：</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input" name="s_desc"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label>排序：</label>
                            </div>
                            <div class="field">
                                <input type="text" class="input w50" name="sort" value="0"
                                       data-validate="number:排序必须为数字"/>
                                <div class="tips"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">
                                <label></label>
                            </div>
                            <div class="field">
                                <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>&ensp;&ensp;
                                <button class="button bg-red" data-dismiss="modal" type="submit">
                                    取消
                                </button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>
